# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Sistema
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
*.code-workspace

# Arquivos de build / produção
dist/
build/

# Banco de dados local (caso tenha arquivos SQLite ou outros temporários)
*.db
*.sqlite
