name: CI Pipeline JavaScript

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Instalar dependências
        run: npm install

      - name: Executar testes
        run: npm test

  deploy:
    needs: build-test
    runs-on: ubuntu-latest
    if: success()

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Deploy automático
        run: |
          echo "Rodar comandos de deploy aqui"
          # Exemplo:
          # rsync -avz ./dist usuario@servidor:/var/www/app
